body{
    background-color: rgb(27, 38, 59);
    margin: 5%;
}
div{margin: 5%;
    font-size: xx-large;
    background-color: rgb(27, 38, 59);
    color: rgb(224, 225, 221);
    text-align: center;
}
.button {
    margin: 5%;
    background-color:#80669d; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px;
  }
  .button:hover{
    background-color: #a881af;
  }

.button:active{
    background-color: #a881af;
  }
